// Pseudo element for avoiding to add a margin to each page, because the toolbar has the property position: fixed
.main::before {
  content: '';
  display: inline-block;
  height: 10%;
}

html {
  height: 100%;
  & > body {
    height: 100%;
    & > div {
      height: 100%;
      & > div {
        height: 100%;
        & > div {
            height: 100%;
        }
      }
    }
  }
}

*::-webkit-scrollbar {
  width: 0px;
}